* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #333333;
}

.title-container {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}

.title {
  background-color: #B3DBFF;
  width: 900px;
  padding: 50px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: #333333 solid 2px;
}

.content-container {
  background-color: aliceblue;  
  display: flex;
  justify-content: center;
  height: 100%;
}

.content {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: flex-start;
  width: 900px;
}
.info-containter {
  display: flex;
  height: 100%;
}

.text {
  padding: 30px 10px 25px 10px;
}

.user-input {
  padding: 10px 10px 25px 10px;
}

.output {
  padding: 15px 10px 25px 10px;
}

.tax-table {
  height: 100%;
}

table, th, td {
  border: 2px solid aliceblue;
  background-color: #b3dbff;
  text-align: left;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: inherit;
}

th, td {
  padding: 8px;
}

table {
  width: 300px;
  margin: 30px 10px;
}

.results {
  width: 100%;
}

.income {
  color: black;
}

.submit-button {
  display: inline;
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 5px 25px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
}

.submit-button:hover {
  color: #FFF;
  background-color: #B3DBFF;  /* Light blue */
}

input {
  margin-bottom: 10px;
  margin-top: 10px;
}